
<div style="text-align:center;">
     <img class="scrapperImg" src="/images/sweeper.jpeg" alt="Smiley face" height="400" width="500">
     <p class="CinzelStyle">Your Articles have been Scrapped!</p>
     <a class="nav-link nav_text" href="/">RETURN HOME</a>
     
     
</div>
