.outsideCol {
    background-color: black;
}

.scrapeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Cinzel', serif;
    margin: 50px; 
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-style: double;
    padding: 50px
}

.scrapperImg {
margin: 50px; 
}

