.outsideCol {
    background-color: black;
}

h1 {
    font-family: 'Cinzel', serif;
    margin: 50px; 
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-style: double;
    padding: 50px
}

